*{
    padding: 0;
    margin: 0;
}
.head{
    background-color: #00A0AA;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
.side{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
.location{
    display: flex;
    gap: 20px;
}
.email{
    display: flex;
}
.whatsapp{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    margin-left: 20px;
}
.whatsapp h1{
    font-size: 20px;
}
.whatsapp i{
    font-size: 30px;
}

/* header */

.header{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 20px 10px 10px black;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo i{
    font-size: 20px;
    margin-top: 6px;
    margin-left: 6px;
}

.header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-top: 10px;
    font-size: 20px;
}

.apointment{
    display: flex;
    gap: 20px;
}
.apointment button{
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #00A0AA;
    border-radius: 10px;
}
.call{
    display: flex;
    gap: 10px;
}
.call i{
    font-size: 20px;
    margin-top: 5px;
}



/* hero section */

.bacground{
    background-color: #FFC567;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    position: relative;
}

.hero{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.herosawir{
    width: 100px;
    height: 300px;
    position: absolute;
    bottom: 280px;
    left: -30px;
}

.hmind{
    display: flex;
    background-color: rgb(241, 241, 26);
    width: 100px;
    height: 50px;
    font-size: 6px;
    position: absolute;
    bottom: 380px;
    left: 80px;
    
}

.midg{
    padding-right: 50px;
    font-size: 40px;
}
.midg button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #00A0AA;
    color: #fff;
}

/* section2 */

.qebta-lawaad{
    margin-top: 140px;
    margin-left: 100px;
    margin-right: 100px;
}
.qebta-lawaad p{
    padding-top: 20px;
}
.sawirkpro img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}
.sawirkpro{
    padding-top: 50px;
}
.for{
    background-color: #00A0AA;
    color: #fff;
    width: 200px;
    height: 80px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: -400px;
    left: 240px;
}
.provides{
    display: flex;
    justify-content: space-around;
}
.for2{
    background-color: #00A0AA;
    color: #fff;
    width: 200px;
    height: 80px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: -400px;
    left: 730px;
}
.for1{
    background-color: #00A0AA;
    color: #fff;
    width: 200px;
    height: 80px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: -400px;
    right: 230px;
}

/* uhsjqdbasm */
.section2{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.kore{
   
    display: flex;
    justify-content: space-between;
    /* background-color: #00A0AA; */
    
}
.bacground1{
    background-color: #FFC567;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
}
.herosawir2{
    width: 100px;
    height: 100px;
    position: absolute;
    /* bottom: 10px; */
    left: 50px;
}
.herosawir2{
    top: 2050px;
}
/* .midig{

} */

/* list1{
    
    
} */
.list1 i{
    color: aquamarine;
    font-size: 20px;
}
.list1{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    font-size: 30px;
}

.hose{
    /* text-align: center; */
    padding-top: 40px;
}
.hose h1{
    font-size: 35px;
}
.hose p{
    padding-top: 20px;
}
.hose button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: #00A0AA;
    border-radius: 10px;
    color: #fff;
}


/* iiii */


.secti3{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.paers{
    color: aqua;
    margin-left: 180px;

}

.din{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 180px;
}
.din button{
    background-color: #00A0AA;
    width: 200px;
    height: 60px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.services{
    background-color: aliceblue;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.service1{
    display: flex;
    gap: 10px;
    color: black;
    background-color: #fff;
    width: 450px;
    height: 200px;
}
.service1 p{
    color: black;
}
.icon{
    font-size: 40px;
}
.arrow{
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    width: 80px;
    height: 40;
    background-color: azure;
    text-align: center;
    padding-top: 10px;
}

.sevveces2{
    background-color: aliceblue;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.boxs{
    background-color: aliceblue;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 50px;
}

/* SECTOIN FOUR */

.section4{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.health4{
    text-align: center;
}
.health4 p{
    padding-top: 20px;
    
}
.plans{
    display: flex;
    gap: 20px;
    margin-left: 480px;
    padding-top: 20px;
}
.color {
    background-color: #00A0AA;
    color: #fff;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
.plans button{
    color: black;
    background-color: white;
    
}





